.profile {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
}

.profile .info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;
}

.profile .info img {
    width: 4rem;
    border-radius: 50%;
}

.profile button {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: none;
    background-color: var(--light-grayish-blue);
    cursor: pointer;
}

.profile button img {
    width: 1.5rem;
    height: 1.3rem;
    transform: translateX(8%);
}
